# Byte-compiled / cached Python files
__pycache__/
*.pyc
*.pyo

# Environment variables and virtual environments
.env
*.env
venv/
.envrc

# System files
.DS_Store
Thumbs.db

# Logs and debug files
*.log

# IDE and editor settings
.vscode/
.idea/

# Flask cache
instance/
*.sqlite3

#sample files
g_simple_groq_agent
templates/index1.html
templates/index2.html

